body.home #after-header-widgets h1, body.home #after-header-widgets body.page:not(.home) .entry-header .entry-title, body.page:not(.home) .entry-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.archive .page-header .entry-title, body.archive .page-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.single-post .entry-header .entry-title, body.single-post .entry-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.single-wcb_speaker .entry-header .entry-title, body.single-wcb_speaker .entry-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.search .page-header .entry-title, body.search .page-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.error404 .entry-header .entry-title, body.error404 .entry-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.archive .page-title, body.archive body.home #after-header-widgets .page-title, body.home #after-header-widgets body.blog #before-content-widgets:after, body.blog body.home #after-header-widgets #before-content-widgets:after, body.home #after-header-widgets body.single:not(.single-post):not(.single-wcb_speaker) #before-content-widgets:after, body.single:not(.single-post):not(.single-wcb_speaker) body.home #after-header-widgets #before-content-widgets:after {
    font-size: 4rem !important;
}

#masthead .site-title a {
    background-image: url(https://2018.bratislava.wordcamp.org/files/2017/11/masthead-logo.png) !important;
}

body.home #after-header-widgets:before {
    background-image: url(https://2018.bratislava.wordcamp.org/files/2017/11/wordcamp-bratislava-2018.jpg) !important;
}

.site-info-network {
  content: 'WordCamp Central';
}

body.home #after-header-widgets aside:after {
	content: "" !important;
    display:none !important;
}

body.blog #before-content-widgets, body.single:not(.single-post):not(.single-wcb_speaker) #before-content-widgets {
    background-image: url(https://2018.bratislava.wordcamp.org/files/2017/11/wordcamp-bratislava-2018.jpg) !important;
}
body.page:not(.home) .entry-header, body.archive .page-header, body.single-post .entry-header, body.single-wcb_speaker .entry-header, body.search .page-header, body.error404 .entry-header {
    background-image: url(https://2018.bratislava.wordcamp.org/files/2017/11/wordcamp-bratislava-2018.jpg) !important;
}

body.blog #before-content-widgets:after {
    content: "Najnovšie správy" !important;
}

#page .more-link {
    padding: 1rem 3rem;
    background: #5cd3bd;
    border: 2px solid #5cd3bd;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: none;
}
#page .more-link:hover {
	color: #5cd3bd;
    background: transparent;
}
body.blog .comments-link {display:none !important;}
body.single-post .byline {display:none !important;}

@media (min-width: 992px){
body.home #after-header-widgets h1, body.home #after-header-widgets body.page:not(.home) .entry-header .entry-title, body.page:not(.home) .entry-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.archive .page-header .entry-title, body.archive .page-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.single-post .entry-header .entry-title, body.single-post .entry-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.single-wcb_speaker .entry-header .entry-title, body.single-wcb_speaker .entry-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.search .page-header .entry-title, body.search .page-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.error404 .entry-header .entry-title, body.error404 .entry-header body.home #after-header-widgets .entry-title, body.home #after-header-widgets body.archive .page-title, body.archive body.home #after-header-widgets .page-title, body.home #after-header-widgets body.blog #before-content-widgets:after, body.blog body.home #after-header-widgets #before-content-widgets:after, body.home #after-header-widgets body.single:not(.single-post):not(.single-wcb_speaker) #before-content-widgets:after, body.single:not(.single-post):not(.single-wcb_speaker) body.home #after-header-widgets #before-content-widgets:after {
    font-size: 170px !important;
  }
  .sponsor-level {
    width: -webkit-fill-available !important;
  }
  .post h1.entry-title {
 	font-size: 3em !important;
  }
}
@media (min-width: 617px){
#masthead .site-title a {
    background-size: 143px 36px !important;
    width: 143px !important;
}
}

/*Program z 2017.nashik.wordcamp.org */
.wcpt-schedule {
	font-size: 14px;
}

.wcpt-schedule .wcpt-col-time {
	width: 4%;
	border-bottom: 0;
}

.wcpt-schedule .wcpt-col-track {
	width: 32%;
	border-bottom-width: 0;
}

.wcpt-schedule .wcpt-time {
	font-weight: bold;
}

.wcpt-schedule tr.global-session {
	background-color: #f3f3f3;
	border-right: 2px solid #d9d9d9;
}

.wcpt-schedule td {
	padding: .7em;
	vertical-align: top;
}

.wcpt-schedule th {
	padding: .7em;
}

.wcpt-schedule .wcpt-session-speakers {
	clear: both;
	display: block;
}

.wcpt-schedule .wcpt-session-speakers a {
	font-style: italic;
	color: #c02942;
	font-size: 13px;
}

.wcpt-schedule .wcpt-session-type-custom {
	font-weight: bold;
	text-align: center;
	height: 50px;
}

.wcpt-schedule .wcpt-col-track {
	background: #c0c0c0;
	text-align: center;
}

.wcpt-schedule .wcpt-col-track:nth-child(even) {
	background: #d4d4d4;
}
